/*container used ONLY in LogOut and UserHome*/
.home-cards-container {
    /*margin: 50px 40px 10px 40px;*/
    margin: 10px 40px 10px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    background-color: var(--bg-color);
}

.cards-container1 {
    margin: 20px 40px 10px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    background: transparent;
    /*background: linear-gradient(rgba(45, 50, 80, 0.8), rgba(45, 50, 80, 0.2));*/
    border-radius: 15px; /* Add border-radius for rounded corners */
}



/* Small card details */
.sm-card {
    width: 400px;
    height: 250px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 30px;
    background: var(--bg-color);
    position: relative;
    padding: 1.8rem;
    border: 2px solid var(--form-input);
    transition: 0.5s ease-out;
    overflow: visible;
    color: var(--black);
    gap: 5px;
    display: grid;
    place-content: center;
}

.sm-card-location {
    color: var(--text-color);
}

.sm-card-name, .ext-card-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}

.sm-card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--accent-secundary);
    color: var(--bg-color);
    font-size: 16px;
    padding: 8px 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.sm-card:hover {
    border-color: var(--accent-secundary);
    box-shadow: 0 4px 18px 0 var(--box-shadow);
}

.sm-card:hover .sm-card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

/*Extended card detalies*/
.ext-card-conteiner{
    margin-top: 120px;
    background: transparent;
    display: flex;
    justify-content: center;
}

.ext-card {
    width: 900px;
    height: auto;
    background: var(--bg-color);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 18px 0 var(--box-shadow);
    transition: all .5s ease;
}

.content{
    margin: 20px;
}

.ext-card-button3{
    background-color: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    transition: .5s;
    /*transform: translate(-50%, 0%);*/
    margin-top: 5px;
    /*margin-left: 25px;*/
    width: auto;
    border-radius: 1rem;
    border: 1px solid;
    margin-bottom: 10px;
    color: var(--accent-secundary);
    z-index: 1;
    padding: 8px 16px;
}

.ext-card-button3::before, .ext-card-button3::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--accent-secundary);
    transition: 1s ease;
}

.ext-card-button3::before {
    top: -1em;
    left: -1em;
}

.ext-card-button3::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.ext-card-button3:hover::before, .ext-card-button3:hover::after{
    height: 410px;
    width: 410px;
    color: var(--white);
}

.ext-card-button3:hover {
    color: var(--white);
}

#pay{
    transform: translate(-50%, 0%);
    margin-left: 25px;
}

.price-card {
    display: flex;
    align-items: center;
}

.price-and-type{
    width: 250px;
}

.price-card{
    margin-bottom: 5px;
}

.ext-card-button1{
    padding: 10px 15px;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: var(--btn-secundary);
    color: var(--white);
    cursor: pointer;
    box-shadow: var(--box-shadow) 0 3px 8px;
    font-size: 15px;
    width: 40px;
}
.ext-card-detalies, .ext-card-organizer{
    margin-bottom: 3px;
}

.ext-card-organizer{
    font-size: 12px;
    color: var(--text-secundary);
}

.card-describe{
    font-size: 14px;
    color: var(--text-color);
}

.accordion {
    box-shadow: var(--box-shadow) 0 5px 15px;
    margin-bottom: 20px;
}

.accordion-header {
    padding: 10px;
    background-color: var(--btn-secundary);
    color: var(--white);
    cursor: pointer;
}

.accordion-content {
    padding: 10px;
}

.race-map-link{
    font-size: 14px;
    color: var(--btn-secundary);
}