/*The style for the forms of the app*/

/* card form */
.login-form{
    height: 500px;
    top: calc(50% - 20px);
    width: 400px;
}

.create-account-form {
    height: 700px;
    top: calc(50% + 80px);
    width: 400px;
}

.create-event{
    width: 800px;
}

.login-form, .create-account-form , .create-event{
    margin-top: 20px;
    background-color: var(--bg-color);
    perspective: 1000px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: absolute;
    /*top: calc(50% - 20px);*/
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
}

/*form*/
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 10px;
}

.title-form {
    text-align: center;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
}

.form-input {
    border-radius: 20px;
    border: 1px solid var(--form-input);
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

.form-input::placeholder {
    color: #666;
    opacity: 0.8;
}

.form-input:focus {
    border: 2px solid var(--btn-secundary);
}

.btn-form:active, .button-confirm:active {
    box-shadow: none;
}

.btn-form, .btn-form2, .btn-form3 {
    padding: 10px 15px;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: var(--btn-color);
    color: var(--white);
    cursor: pointer;
    box-shadow: var(--box-shadow) 0 3px 8px;
    font-size: 18px;
}

.btn-form2 {
    width: 300px;
}

.btn-form:hover, .btn-form2:hover{
    background: var(--btn-hover);
}

.span {
    color: var(--white);
}

.orizontal-elem {
    flex: 1;
}

.orizontal-elem2{
    width: 150px;
    margin-right: 10px;
}

#descEvent {
    resize: none;
    overflow-y: scroll;
    max-height: 400px;
}

.select-container {
    position: relative;
    width: 100%;
}

.select-container select {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid var(--form-input);
    outline: 0 !important;
    box-sizing: border-box;
    cursor: pointer;
}

.select-container label {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--white);
}

.required{
    color: var(--accent-color);
    margin-left: 5px;
}

.label-input {
    text-align: left;
    margin-left: 10px;
}

.btn-form3{
    width: 40px;
    background-color: var(--btn-secundary);
}

.add{
    background-color: var(--btn-secundary);
}

.price-div.horizontal.for-centring {
    flex-direction: column; /* Așezare verticală */
}